<!DOCTYPE html>
　　<html>
　　<head>
　　　　<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
　　　　<title>{{page.title}}</title>
        <style type="text/css">
            code {
                font-size:16px;
                background-color: #C0C0C0;
                display: block;
            }

            p { text-indent:2em;}
        </style>
　　</head>
　　<body style="background-color: #f5f5d5; margin: 25px 20%">
　　　　{{content}}
　　</body>
   <div style="background-color: #8bc1ed; margin: 50px 15%; padding: 20px 0 0 20px; display: flex;">
           <div style="flex: 1; font-size: 18px; font-style: italic; flex-basis: 70%">
                   如果对文章有任何不同意见，有两种办法：
                   <ul>
                           <li>关注公众号: <strong>支点Pro</strong>，找到对应文章</li>
                           <li>博客是基于github搭建的，可以通过issue的方式，<a href = "https://github.com/fsxtiger/blog/tree/gh-pages/_posts">git地址</a></li>
                   </ul>
           </div>
           <div style="flex: 1; flex-basis: 30%">
                   <img src="http://dbp-resource.cdn.bcebos.com/a1620f93-4200-9024-4be8-61a6751b1340/qrcode_for_gh_9839f020f507_258.jpg" style="width: 100px; height: 100px; margin-left: 25px;"/>
           </div>
   </div>
　</html>
